<section>
  <div class="page-header">
    <h1>Songs</h1>
  </div>
  <input class="form-control" type="text" placeholder="Search" ng-model="searchText">
  <br>
  <div class="list-group">
    <a ng-repeat="song in vm.songs | filter:searchText | orderBy:'title'" ui-sref="songs.view({ songId: song._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="song.title"></h4>
			<small class="list-group-item-text">
				by <span ng-bind="song.artist"></span>
			</small>
      <small class="list-group-item-text pull-right">
        Key: <strong ng-bind="song.defaultKey"></strong>
        | BPM: <strong ng-bind="song.bpm"></strong>
      </small>
    </a>
  </div>
</section>
