<section>
  <div class="page-header">
    <div class="pull-right">
    <form class="form-inline">
        <label>Key:</label>
        <a uib-tooltip="Transpose Down" class="btn btn-primary" ng-click="vm.transposeDown()">
          <i class="glyphicon glyphicon-minus"></i>
        </a>
        <select class="form-control" ng-model="vm.key" ng-options="key group by vm.mode(key) for key in vm.keys"></select>
        <a uib-tooltip="Transpose Up" class="btn btn-primary" ng-click="vm.transposeUp()">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
    </form>
    <div>
        <strong>BPM:</strong>
        <strong class="pull-right" ng-bind="vm.song.bpm"></strong>
    </div>
</div>
<h1>
    <span ng-bind="vm.song.title"></span>
    <small>- <span ng-bind="vm.song.artist"></span></small>
    <a uib-tooltip="Edit Song" ng-show="vm.song.isCurrentUserOwner || vm.isAdmin()" class="btn btn-primary" data-ui-sref="songs.edit({songId: vm.song._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a uib-tooltip="Create a Copy" ng-show="vm.authentication.user" class="btn btn-primary" data-ui-sref="songs.copy({songId: vm.song._id})">
      <i class="glyphicon glyphicon-copy"></i>
    </a>
</h1>
  </div>
  <p class="chordsheet" ng-bind-html="vm.chordpro.format(vm.song.content, vm.song.defaultKey, vm.key)"></p>
  <small class="pull-right">
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.song.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.song.user" ng-bind="vm.song.user.displayName"></span>
      <span ng-if="!vm.song.user">Deleted User</span>
    </em>
  </small>
</section>
