<section>
  <div class="page-header">
    <h1>{{vm.song._id ? 'Edit Song' : 'New Song'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.song._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.songForm" class="form-horizontal" ng-submit="vm.save(vm.form.songForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.song.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.songForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Song title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="artist">Artist</label>
          <input name="artist" type="text" ng-model="vm.song.artist" id="artist" class="form-control" placeholder="Artist">
        </div>
        <div class="form-group">
          <label class="control-label" for="defaultKey">Default Key</label>
          <div class="controls">
            <select name="defaultKey" ng-model="vm.song.defaultKey" id="defaultKey" class="form-control" ng-options="key group by vm.mode(key) for key in vm.keys" required></select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="bpm">BPM</label>
          <input name="bpm" type="text" ng-model="vm.song.bpm" id="bpm" class="form-control" placeholder="BPM">
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <uib-tabset>
            <uib-tab index="0" heading="Template" select="vm.parsePreview()">
              <textarea name="content" data-ng-model="vm.song.content" id="content" class="form-control chordsheet" cols="30" rows="20" placeholder="Content"></textarea>
            </uib-tab>
            <uib-tab index="1" heading="Preview" select="vm.formatPreview()">
              <textarea data-ng-model="vm.preview" class="form-control chordsheet" cols="30" rows="20"></textarea>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.song._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
